<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro" />

  <joint name="arm_mount_joint" type="fixed">
    <parent link="mid_mount" />
    <child link="ur_arm_base_link" />
    <origin xyz="$(optenv RIDGEBACK_UR_XYZ 0 0 0)" rpy="$(optenv RIDGEBACK_UR_RPY 0 0 0)"/>
  </joint>

  <xacro:ur5_robot prefix="ur_arm_" />
</robot>
