<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/inc/ur10_macro.xacro" />

  <joint name="left_arm_mount_joint" type="fixed">
    <parent link="tower_link" />
    <child link="left_ur_arm_base_link" />
    <origin xyz="$(optenv RIDGEBACK_LEFT_UR_XYZ 0 0.1 0)" rpy="$(optenv RIDGEBACK_LEFT_UR_RPY 0 0 0)"/>
  </joint>

  <joint name="right_arm_mount_joint" type="fixed">
    <parent link="tower_link" />
    <child link="right_ur_arm_base_link" />
    <origin xyz="$(optenv RIDGEBACK_RIGHT_UR_XYZ 0 -0.3 0)" rpy="$(optenv RIDGEBACK_RIGHT_UR_RPY 0 0 0)"/>
  </joint>

  <xacro:ur10_robot prefix="right_ur_arm_" />
  <xacro:ur10_robot prefix="left_ur_arm_" />
</robot>
