<launch>
  <arg name="serial_number"/>
  <arg name="arm_type"/>

  <include file="$(find ridgeback_kinova_bringup)/launch/kinova_robot.launch">
    <arg name="kinova_robotType" value="$(arg arm_type)"/>
    <arg name="kinova_robotName" value="kinova_arm"/>
    <arg name="kinova_robotSerial" value="$(arg serial_number)"/>
  </include>
</launch>
